.main-content {
    margin-top: 75px;
}

.modal-dialog .modal-content {
    border-radius: 6px;
    padding: 0;
  }
.modal-dialog .modal-content .modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    /* background-color: #BCF5A9; */
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
.modal-dialog .modal-content .modal-body {
    padding: 20px;
    font-size: 20px;
  }
.modal-dialog .modal-content .modal-footer {
    padding-top: 15px;
  }

  .label{
    position: absolute;
    top: 200px;
    left: 300px;
    width:80px;
    height:40px;
    line-height: 35px;
    color:#fff;
    transform: rotate(-60deg);
    background: #E419B7;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5); 
  }