
<div class="row products">
  <!-- feature1 -->
<div class="product">
  <div class="row">
      <div *ngFor="let g of gift | paginate: { itemsPerPage:8, currentPage: p }" class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="panel-body">
                  <figure>
                  <a href="product.html"><img src="./../../../assets/web/img/imgShop/{{g.urlHinh}}" alt="Product" class="img-responsive"></a>
                  <figcaption>
                <div class="panel-heading no-padding center">
                  <p class="text-center" style="color:green; font-size:16px; ">{{g.product_name}}</p>
              </div>
                  <div class="text">
                      <div class="row">
                        <div class="col-md-6">Quy đổi:</div>
                        <a class="col-md-6 career_link_location">{{g.point_sp}} Point</a>
                      </div>
                      <div class="row">
                        <div class="col-md-6">Số lượng còn:</div>
                        <a class="col-md-6 career_link_location">{{g.amount}}</a>
                      </div>
                  </div>
                </figcaption>
                </figure>
              </div>
              <div class="pull-left">
                <div *ngIf="!user">
                    <a [routerLink]="['/shopping/chitietsp/', g._id]" class="btn btn-default" style="font-size: 10px;"> 
                      <i class="fa fa-eye"></i> Xem chi tiết
                    </a>
                    <a (click)="RedirectUnregister()" class="btn btn-primary" style="font-size: 10px;"> 
                      <i class="fa fa-shopping-cart"></i> Đổi ngay
                    </a>
                </div>
                <div *ngIf="user">
                    <a [routerLink]="['/shopping/chitietsp/', g._id]" class="btn btn-default" style="font-size: 10px;"> 
                      <i class="fa fa-eye"></i> Xem chi tiết
                    </a>
                    <a [routerLink]="['/giohang/', g._id]" class="btn btn-primary" style="font-size: 10px;"> 
                      <i class="fa fa-shopping-cart"></i> Đổi ngay
                    </a>
                </div>
              </div>
          <!-- .panel -->
      </div>
      <!-- .col-lg-6 -->

  </div>
  <!-- .row -->
  <div class="rowt text-center" style="padding-top:25px">
    <div class="col-md-12">
      <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>
  </div>
<!-- .container -->
</div>
<!-- .feature2 -->
  
</div>