

<div class="row">
  <div class="col-lg-12">
    <h4 class="page-header">Theo dõi tình trạng tin tuyển dụng</h4>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Thông tin chung</a></li>
  <li><a data-toggle="tab" href="#menu1">Xử lí tuyển dụng</a></li>
  <li><a data-toggle="tab" href="#menu2">Chi phí xử lí</a></li>

</ul>

<div class="tab-content">

  <div id="home" class="tab-pane fade in active">

    <div class="row" style="padding-top:10px;" *ngIf="foundNews">

      <div class="col-md-6" style="font-size:20px">
        <span class="label label-default"><u>Người đăng tin:</u> <b>{{news.employee.username}}</b></span>
      </div>
      <div class="col-md-6" style="font-size:20px">
        <span class="label label-warning"><u>Tiểu Đề:</u> <b>{{news.title}}</b></span>
      </div>

      <div class="col-md-12" style="padding-top:5px;">
        <h3><span class="label label-success">Nội Dung</span></h3>
      </div>
      <div class="col-md-12" style="padding-top:10px;" [innerHTML]="news.content">
      </div>
    </div>
  </div>

  <div id="menu1" class="tab-pane fade">

      <div class="row">
        <div class="row" style="padding-top:10px;">
          <div class="col-md-6" style="font-size:20px">
            <span class="label label-default"><u>Người đăng tin:</u> <b>{{news.employee.username}}</b></span>
          </div>
          <div class="col-md-6" style="font-size:20px">
            <span class="label label-warning"><u>Tiểu Đề:</u> <b>{{news.title}}</b></span>
          </div>
        </div>

        <div class="col-md-12" style="padding-top:10px;">
        <div class="panel panel-info" >
          <div class="panel-heading">Danh sách ứng tuyển</div>
          <div class="panel-body">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Tên</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th>CV</th>
                  <th>Tình trạng</th>
                  <th>Xử lý</th>
                </tr>

              </thead>
              <tbody>
                <tr *ngFor="let newsuser of news_user | derp">
                  <td>{{newsuser.user.username}}</td>
                  <td>{{newsuser.user.phone}}</td>
                  <td>{{newsuser.user.email}}</td>
                  <td><a href='../../../../assets/web/cv/VuongXuanHung_CV.pdf' download>{{newsuser.user.cvFile}}</a></td>
                  <td *ngIf="newsuser.status=='Hồ sơ'"><span class="label label-danger">{{newsuser.status}}</span></td>
                  <td *ngIf="newsuser.status=='Phỏng vấn'"><span class="label label-primary">{{newsuser.status}}</span></td>
                  <td *ngIf="newsuser.status=='Hợp đồng'"><span class="label label-success">{{newsuser.status}}</span></td>
                  <td class="center">
                    <div class="dropdown text-center">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-gear fa-fw"></i> 
                        <i class="fa fa-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-user">
                        <li><a (click)="updateStatusNewsUser(newsuser._id, 'Hồ sơ')"><i class="fa fa-file-text-o fa-fw"></i>Hồ sơ</a>
                        </li>
                        <li><a (click)="updateStatusNewsUser(newsuser._id, 'Phỏng vấn')"><i class="fa fa-question-circle fa-fw"></i>Phỏng vấn</a>
                        </li>
                        <li><a (click)="updateStatusNewsUser(newsuser._id, 'Hợp đồng')"><i class="fa fa-pencil-square-o fa-fw"></i>Hợp đồng</a>
                        </li>
                      </ul>
                  
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">Danh sách giới thiệu</div>
          <div class="panel-body">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Tên</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th>CV</th>
                  <th>Người GT</th>
                  <th>Tình trạng</th>
                  <th>Xử lý</th>
                </tr>

              </thead>
              <tbody>
                
                <tr *ngFor="let newcandidate of news_candidte | derp">
                  <td>{{newcandidate.candidate.username}}</td>
                  <td>{{newcandidate.candidate.phone}}</td>
                  <td>{{newcandidate.candidate.email}}</td>
                  <td><a href='../../../../assets/web/cv/VuongXuanHung_CV.pdf' download>{{newcandidate.candidate.cvFile}}</a></td>
                  <td>{{newcandidate.user.username}}</td>
                  <td *ngIf="newcandidate.status=='Hồ sơ'"><span class="label label-danger">{{newcandidate.status}}</span></td>
                  <td *ngIf="newcandidate.status=='Phỏng vấn'"><span class="label label-primary">{{newcandidate.status}}</span></td>
                  <td *ngIf="newcandidate.status=='Hợp đồng'"><span class="label label-success">{{newcandidate.status}}</span></td>
                  <td class="center">
                    <div class="dropdown text-center">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-gear fa-fw"></i> 
                        <i class="fa fa-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-user">
                        <li><a (click)="updateStatusNewsCandidate(newcandidate._id, 'Hồ sơ')"><i class="fa fa-file-text-o fa-fw"></i>Hồ sơ</a>
                        </li>
                        <li><a (click)="updateStatusNewsCandidate(newcandidate._id, 'Phỏng vấn')"><i class="fa fa-question-circle fa-fw"></i>Phỏng vấn</a>
                        </li>
                        <li><a (click)="updateStatusNewsCandidate(newcandidate._id, 'Hợp đồng')"><i class="fa fa-pencil-square-o fa-fw"></i>Hợp đồng</a>
                        </li>
                      </ul>
                   
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="menu2" class="tab-pane fade">
    <div class="row" style="padding-top:10px;">

    </div>


    <div class="row" style="padding-top:10px;">

      <div class="col-md-8">
        <fusioncharts [id]="id" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
      </div>

      <div class="col-md-4" style="padding-top:20px;">
        <div class="panel panel-danger">
          <div class="panel-heading">Thống kê</div>
          <div class="panel-body">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Loại tình trạng</th>
                  <th class="text-right">Số lượng</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Hồ sơ</td>
                  <td align="right">32</td>
                </tr>
                <tr>
                  <td>Phỏng vấn</td>
                  <td align="right">23</td>
                </tr>
                <tr>
                  <td>Hợp đồng</td>
                  <td align="right">13</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">Danh sách chi</div>
          <div class="panel-body">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Tên</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th>CV</th>
                  <th>Tình trạng</th>
                  <th>point chi</th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Vương Xuân Hùng</td>
                  <td>0123456987</td>
                  <td>hungvx@gmail.com</td>
                  <td><a>hungvx_CV.pdf</a></td>
                  <td>Hồ sơ</td>
                  <td>12</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>