<div class="container main-content">
    
      <!-- Custom Success/Error Message -->
      <div class="row show-hide-message" *ngIf="message">
          <div [ngClass]="messageClass">
            {{ message }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
             <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">HÓA ĐƠN THANH TOÁN ĐỔI QUÀ <span data-toggle="tooltip" data-placement="right" class="red-tooltip">&nbsp;</span></h3>
                </div>
                <div class="panel-body table-responsive padding-1">
                  <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                          <td colspan="2" class="send">ĐƠN HÀNG #{{order.codeOrder}}</td>
                        </tr>
                      <tr>
                        <td colspan="2" class="send">PHƯƠNG THỨC GỬI</td>
                      </tr>
                      <tr>
                        <td align="right" class="active">Tên quà quy đổi :</td>
                        <td>
                          Đổi Point Lấy Quà ( point )
                        </td>
                      </tr>
                      <tr>
                        <td align="right" class="active">Số Point Cần Gửi :</td>
                      <td>
                          {{order.point_qd}}
                      </td>
                      </tr>
                      <tr>
                        <td align="right" class="active">Số Point Đã Gửi :</td>
                      <td>
                        {{order.point_qd}}
                      </td>
                      </tr>
                                                                                                                                              <tr>
                        <td colspan="2" class="receive">PHƯƠNG THỨC NHẬN</td>
                      </tr>
                      <tr>
                        <td align="right" class="active">Tên Phương Thức :</td>
                        <td>
                          {{order.productName}}
                        </td>
                      </tr>
                      <tr>
                        <td align="right" class="active">Số Point tương ứng :</td>
                        <td>
                          {{order.point_qd}}
                        </td>
                      </tr>
                                                                                                                          <tr>
                        <td align="right" class="active">Địa Chỉ nhận quà :</td>
                          <td>
                              {{order.placeOfReceipt}}
                          </td>
                      </tr>
                      <tr>
                        <td colspan="2" class="information">THÔNG TIN ĐƠN HÀNG</td>
                      </tr>
                      <tr>
                        <td align="right" class="active">Ngày Tạo :</td>
                        <td>{{order.orderDay | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                      </tr>
                                                                                  <tr>
                        <td align="right" class="active">Ngày Thanh Toán :</td>
                        <td>{{order.orderDay | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                      </tr>
                                                              <tr>
                        <td align="right" class="active">Ngày Hoàn Thành :</td>
                        <td>{{order.orderDay | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                      </tr>
                      <tr>
                        <td align="right" class="active">Trạng Thái Đơn Hàng :</td>
                        <td>
                          <span class="label label-success" id="orderStatus">{{order.status}}</span>                                                                                              </td>
                        </tr>
                      <tr>
                        <td align="right" class="active">Thông Tin Đơn Hàng :</td>
                        <td><a [routerLink]="['/giaohang/', order._id]" target="_blank">http://localhost:4200/giaohang/{{order._id}}</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h3 class="panel-title">Gửi Cảm Nhận <i class="fa fa-commenting-o pull-right fa-fw" aria-hidden="true"></i></h3>
                    </div>
                    <div class="panel-body">
                      <form name="frmTestimonial" action="testimonial.html" method="post" data-toggle="validator">
                        <div class="form-group">
                          <label for="xName">Tên Của Bạn :</label>
                          <input type="text" name="xName" value="{{user.username}}" class="form-control" maxlength="25" id="xName" required>
                        </div>
                        <div class="form-group">
                          <label for="xMessage">Cảm Nhận :</label>
                          <textarea name="xMessage" id="xMessage" rows="5" placeholder="Ghi vài dòng cảm nhận của quý nhân viên về dịch vụ ở đây." class="form-control" maxlength="255" required></textarea>
                        </div>
                        <div class="btn-group pull-right" role="group" aria-label="button">
                          <button type="submit" class="btn btn-info">Gửi</button>
                          <button type="submit" class="btn btn-info"><i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i></button>
                        </div>
                      </form>
                    </div>
                  </div>
              </div>
        </div>
      </div>
      <br>
  <script>
  
      $('.navbar-menu').click(function(){
        var elBtnUser = $('.btn-user');
        if(elBtnUser.attr('aria-expanded')=='true'){
          elBtnUser.trigger('click');
        }
      });
      $('.btn-user').click(function(){
        var elBtnMenu = $('.navbar-menu');
        if(elBtnMenu.attr('aria-expanded')=='true'){
          $('.navbar-menu').trigger('click');
        }
      });
  //-->
  </script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/58ba5a5778d62074c098438f/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  
      <script type="text/javascript" src="Javascripts/attach.js"></script>
      <script type="text/javascript">
  
        var xPage     = 'TRACKING';
        var xToken    = '41bda1500ec954a3548a2b16104ea28a';
        var xIndex    = '00022420';
        var xStatus   = 'COMPLETED';
        var msgFailue = 'Nạp không thành công !';
        var lngSubmit = ['Đang Xử Lý ...','Thành Công','Thanh Toán'];
        var lngStatus = { PENDING:'Chưa Thanh Toán',RECEIVED:'Đã Nhận Tiền',PROCESSING:'Đang Xử Lý' }
  
        $( document ).ready(function()
        {
          $('[data-toggle="tooltip"]').tooltip('show');
          $('.selectpicker').selectpicker({ showIcon: true});
          $('#dateExpired').countdown('2017/12/26 12:10:59',function(event){
            $(this).text(
              event.strftime('%H giờ %M phút %S giây')
            );
          }).on('finish.countdown',function()
          {
              window.location.reload(true);
          });;
        });
  
        setInterval(function()
        {
          $('select[name="SEND[Payment]"],select[name="RECEIVE[Payment]"]').each(function()
          {
            if($(this).attr('name') == 'SEND[Payment]')
            {
              $('input[name="SEND[Data]"]').attr('disabled',true);
              $('input[name="SEND[Data]"]').attr('placeholder',$(this).find('option:selected').data('placeholder'));
              if($(this).val() != '')
              {
                $('input[name="SEND[Data]"]').attr('disabled',false);
              }
            }
            if($(this).attr('name') == 'RECEIVE[Payment]')
            {
              $('input[name="RECEIVE[Data]"]').attr('disabled',true);
              $('input[name="RECEIVE[Data]"]').attr('placeholder',$(this).find('option:selected').data('placeholder'));
              if($(this).val() != '')
              {
                $('input[name="RECEIVE[Data]"]').attr('disabled',false);
              }
            }
          });
        },100);
      //-->
      </script>
          <script type="text/javascript" src="Javascripts/clipboard.js"></script>
      <script type="text/javascript">
  
        var clipboard = new Clipboard('[data-clipboard-text]');
  
        clipboard.on('success',function(e){
          $(e.trigger).find('i').removeClass('fa-clone').addClass('fa-check faa-burst animated text-success').hide().fadeIn(1000,function(){
            $(this).removeClass('fa-check faa-burst animated text-success').addClass('fa-clone');
          });
        });
        
        clipboard.on('error',function(e){
          $(e.trigger).find('i').removeClass('fa-clone').addClass('fa-times faa-burst animated text-danger').hide().fadeIn(1000,function(){
            $(this).removeClass('fa-times faa-burst animated text-danger').addClass('fa-clone');
          });
        });
      //-->
      </script>
      <script type="text/javascript" src="Javascripts/alert.js"></script>
      <script type="text/javascript" src="Javascripts/starrr.js"></script>
      <script type="text/javascript" src="Javascripts/bootstrap.js"></script>
      <script type="text/javascript" src="Javascripts/validator.js"></script>
      <script type="text/javascript" src="Javascripts/bootstrap-select.js"></script>
      <script type="text/javascript" src="Javascripts/function.js"></script>
      <script type="text/javascript">
      
        $('#xRating').starrr(
        {
          rating: 5,
          change : function(e,value){
            $('form[name=frmTestimonial] input[name=xRating]').val(value);
          }
        });
      //-->
      </script>
  