<ul class="nav" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                  <a class="btn btn-block btn-social btn-instagram">
                          <i class="fa fa-hand-o-right"></i> Group H2K
                      </a>
            </div>
            <!-- /input-group -->
        </li>
        <li>
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" ><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
            <a routerLink="/listphongban" [routerLinkActive]="['router-link-active']" ><i class="fa fa-archive fa-fw"></i> Phòng ban</a>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a routerLink="/listchucvu" [routerLinkActive]="['router-link-active']"><i class="fa fa-edit fa-fw"></i> Chức vụ</a>
        </li>
        <li>
            <a routerLink="/listnhanvien" [routerLinkActive]="['router-link-active']" ><i class="fa fa-user fa-fw"></i> Nhân viên</a>
        </li>
        <li>
            <a routerLink="/listnhanthan" [routerLinkActive]="['router-link-active']" ><i class="fa fa-users fa-fw"></i> Nhân thân</a>
        </li>
      </ul>