<div class="container">
  <div class="row">
       <div class="col-xs-4 item-photo">
            <img style="max-width:100%;" src="./../../../assets/web/img/imgShop/{{gift.urlHinh}}" />
        </div>
        <div class="col-xs-5" style="border:0px solid gray">
            <!-- Datos del vendedor y titulo del producto -->
            <h3> {{ gift.product_name }} </h3>    
            <h5 style="color:#337ab7">Thương hiệu: <a href="#">{{ gift.trademark }}</a> · <small style="color:#337ab7">(Chỉ còn {{ gift.amount }} sản phẩm)</small></h5>

            <!-- Precios -->
            <h6 class="title-price"><small>Point quy đổi tương ứng</small></h6>
            <h3 style="margin-top:0px;">{{ gift.point_sp }} points</h3>

            <div class="section" style="padding-bottom:20px;">
                <h6 class="title-attr"><small>Số lượng tối đa được đổi trong 1 lần</small></h6>                    
                <div>
                    <div class="btn-minus"><span class="fa fa-diamond"></span></div>
                    <input value="1" />
                    <div class="btn-plus"><span class="fa fa-diamond"></span></div>
                </div>
            </div>                

            <!-- Botones de compra -->
            <div class="section" style="padding-bottom:20px;">
              <div *ngIf="!user">
                <button class="btn btn-success" (click)="RedirectUnregister()"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" ></span> Đổi ngay </button>
              </div>
              <div *ngIf="user">
                <button class="btn btn-success" [routerLink]="['/giohang/', gift._id]"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" ></span> Đổi ngay </button>
              </div>
            </div>                                        
        </div>                              

        <div class="col-xs-9">
            <ul class="menu-items">
                <li class="active">Thông tin sản phẩm</li>
            </ul>
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    <small>
                       {{ gift.product_infor }}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>        