<div class="container">
  <div class="row">
       <div class="col-xs-4 item-photo">
            <img style="max-width:100%;" src="./../../../assets/web/img/imgShop/{{gift.urlHinh}}" />
        </div>
        <div class="col-xs-5" style="border:0px solid gray">
            <!-- Datos del vendedor y titulo del producto -->
            <p class="txtelegantshadow" style="font:bold; font-size:40px"> {{ gift.product_name }} </p>    
            <h5 style="color:#337ab7">Thương hiệu: <a href="#">{{ gift.trademark }}</a> · <small style="color:#337ab7">(Chỉ còn {{ gift.amount }} sản phẩm)</small></h5>

            <!-- Precios -->
            <h2 class="title-price"><small style="color:#33b73a">Điểm quy đổi tương ứng cho mỗi quà: </small></h2>
            <h4 style="margin-top:0px;">{{ gift.point_sp }} Điểm</h4>

            <div class="section" style="padding-bottom:20px;">
                <h6 class="title-attr" style="color:#df341d;font-weight: bold; text-align:center">(Được đổi tối đa 1 món quà trong 1 lần!)</h6>
            </div>                

            <!-- Botones de compra -->
            <div class="section" style="padding-bottom:20px;">
              <div *ngIf="!user">
                <button class="btn btn-success" (click)="RedirectUnregister()"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" ></span> Đổi ngay </button>
              </div>
              <div *ngIf="user">
                <button class="btn btn-success" [routerLink]="['/giohang/', gift._id]"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" ></span> Đổi ngay </button>
              </div>
            </div>                                        
        </div>                              

        <div class="col-xs-9">
            <ul class="menu-items">
                <li class="active">Thông tin sản phẩm</li>
            </ul>
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    <small>
                       {{ gift.product_infor }}
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="cancel" aria-hidden="true" style="margin-top: 100px;padding-bottom: 10px;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #5cb85c;">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title" id="cancelOrder">Thông báo</h3>
            </div>
            <div class="modal-body">
              <p>Bạn hiện không có quyền hạn truy cập vào chức năng này!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
          </div>
        </div>
      </div>
</div>        