<ng-container *ngIf="user.role=='admin' || user.role=='empl'">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Chính Sách Nhận Điểm Thưởng</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row" style="padding-bottom:5px">
    <div class="col-lg-12">
        <a routerLink="/admin/formchinhsach" class="btn btn-danger"><span class="fa fa-plus"></span> Thêm chính sách</a>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Form chính sách nhận điểm thưởng
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>

                            <th>Tên chính sách</th>
                            <th>Điểm vòng hồ sơ</th>
                            <th>Điểm vòng phỏng vấn</th>
                            <th>Điểm khi ứng viên ký hợp đồng </th>
                            <th>Tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let policy of policys" class="odd gradeX">
                            <td>{{policy.pName}}</td>
                            <td>{{policy.pointFile}}</td>
                            <td>{{policy.pointInterview}}</td>
                            <td>{{policy.pointSign}}</td>
                            <td class="center">
                                <div class="dropdown text-center">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a [routerLink]="['/admin/editchinhsach/', policy._id]" title="Chỉnh sửa"><i class="fa fa-pencil fa-fw" style="color:blue"></i></a>
                                        </li>
                                    </ul>
                                    <!-- /.dropdown-user -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
</ng-container>
      <div class="txtelegantshadow" *ngIf="user.role =='empl_gift'">
        <h1 class="page-header" style="font:bold; text-align: center;font-size: 70px;">Bạn không có quyền hạn sử dụng chức năng này!</h1>
    </div>