<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        Danh sách tin đã ứng tuyển
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table width="100%" class="table table-responsive table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Tiêu đề</th>
              <th>Vị trí</th>
              <th>Địa điểm</th>
              <th>Ngày ứng tuyển</th>
              <th>Tình trạng</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd gradeX" *ngFor="let newsUser of newsUsers">
              <td><a [routerLink]="['/chitiettin/', newsUser.news._id]">{{newsUser.news.title}}</a></td>
              <td>{{newsUser.news.position}}</td>
              <td>{{newsUser.news.place}}</td>
              <td>{{newsUser.create_date | date:'dd/MM/yyyy'}}</td>
              <td>{{newsUser.status}}</td>
            </tr>
          </tbody>
        </table>
        <!-- /.table-responsive -->

      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->