<ng-container *ngIf="user.role=='admin' || user.role=='empl'">
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Đăng Tin Tuyển Dụng </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Form đăng tin tuyển dụng
      </div>
      <div class="panel-body">
        <div class="row">

          <form [formGroup]="myForm" (submit)="addNews()" role="form">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="cv" class="col-md-2 control-label">Hình</label>
                <div class="col-md-10">
                  <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploaderNews"/>
                  <span class="help-block">Định dạng: .JPG, .PNG</span>
                  <span class="help-block">Kích thước tối đa: 2MB</span>
                </div>
              </div>
              <div class="form-group">
                <label for="title" class="control-label">Tiêu đề</label>
                <div [ngClass]="{'has-error': (myForm.controls.title.errors && myForm.controls.title.dirty), 'has-success': !myForm.controls.title.errors}">
                  <input type="text" name="title" class="form-control" autocomplete="off" formControlName="title" placeholder="Nhập tiêu đề..."
                  />
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="myForm.controls.title.errors?.required && myForm.controls.title.dirty">Trường này bắt buộc</li>
                    <li *ngIf="(myForm.controls.title.errors?.minlength || myForm.controls.title.errors?.maxlength) && myForm.controls.title.dirty">Tiêu đề ít nhất có 8 ký tự , tối đa 40</li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label for="place" class="control-label">Địa điểm</label>
                <div [ngClass]="{'has-error': (myForm.controls.place.errors && myForm.controls.place.dirty), 'has-success': !myForm.controls.place.errors}">
                  <input type="text" name="place" class="form-control" autocomplete="off" formControlName="place" placeholder="Nhập địa điểm..."
                  />
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="myForm.controls.place.errors?.required && myForm.controls.place.dirty">Trường này bắt buộc</li>
                    <li *ngIf="(myForm.controls.place.errors?.minlength || myForm.controls.place.errors?.maxlength) && myForm.controls.place.dirty">Địa điểm ít nhất có 2 ký tự , tối đa 15</li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label for="salary" class="control-label">Lương</label>
                <div [ngClass]="{'has-error': (myForm.controls.salary.errors && myForm.controls.salary.dirty), 'has-success': !myForm.controls.salary.errors}">
                  <input type="text" name="salary" class="form-control" autocomplete="off" formControlName="salary" placeholder="Nhập lương..."
                  />
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="myForm.controls.salary.errors?.required && myForm.controls.salary.dirty">Trường này bắt buộc</li>
                  </ul>
                </div>
              </div>

              <!-- <div class="form-group">
                <label for="ngaydang" class="control-label">Ngày đăng</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input class="form-control" id="date" name="date" type="text" />
                  </div>
              </div> -->

              <div class="form-group">
                <label for="ngaydang" class="control-label">Hạn nộp</label>
                <!-- <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input class="form-control" id="date" name="date" type="text" />
                  </div> -->
                <form novalidate>
                  <my-date-picker (dateChanged)="onDateChanged($event)" [ngModelOptions]="{standalone: true}" name="mydate" [options]="myDatePickerOptions"
                    [(ngModel)]="model" required></my-date-picker>
                </form>
                <!-- <form [formGroup]="myForm" novalidate>
                  <my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="myDate"></my-date-picker>
                </form> -->
              </div>

              <div class="form-group">
                <label for="position" class="control-label">Vị trí tuyển dụng</label>
                <div [ngClass]="{'has-error': (myForm.controls.position.errors && myForm.controls.position.dirty), 'has-success': !myForm.controls.position.errors}">
                  <input type="text" name="position" class="form-control" autocomplete="off" formControlName="position" placeholder="Nhập vị trí..."
                  />
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="myForm.controls.position.errors?.required && myForm.controls.position.dirty">Trường này bắt buộc</li>
                    <li *ngIf="(myForm.controls.position.errors?.minlength || myForm.controls.position.errors?.maxlength) && myForm.controls.position.dirty">Tên vị trí ít nhất có 2 ký tự , tối đa 8</li>
                  </ul>
                </div>
              </div>

              <!-- <div class="form-group">
                <label for="diadiem" class="control-label">Địa điểm</label>
                  <input type="text" class="form-control" id="diadiem" placeholder="Nhập địa điểm">
              </div> -->

              <div class="form-group">
                <label for="numberOf" class="control-label">Số lượng</label>
                <div [ngClass]="{'has-error': (myForm.controls.numberOf.errors && myForm.controls.numberOf.dirty), 'has-success': !myForm.controls.numberOf.errors}">
                  <input type="text" name="numberOf" class="form-control" autocomplete="off" formControlName="numberOf" placeholder="Nhập vào số lượng..."
                  />
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="myForm.controls.numberOf.errors?.required && myForm.controls.numberOf.dirty">Trường này bắt buộc</li>
                    <li *ngIf="myForm.controls.numberOf.errors?.min && myForm.controls.numberOf.dirty">Số lượng tối thiểu là 1</li>
                    <li *ngIf="myForm.controls.numberOf.errors?.validateNumberOf && myForm.controls.numberOf.dirty">"Số lượng" phải là số</li>
                  </ul>
                </div>
              </div>

              <div class="form-group">
                <label for="motacv" class="control-label">Nội dung </label>
                <!-- <textarea class="form-control"placeholder="Nhập nội dung" ></textarea> -->
                <!-- <editor apiKey="zampqj962soas6fhh3ub8hut4tqkepk0uwetpewkhp9n91p8" cloudChannel="dev"  [init]="{plugins: 'link'}"></editor> -->
                <ckeditor [(ngModel)]="ckeditorContent" [ngModelOptions]="{standalone: true}" debounce="500" > <!--(change)="onChange($event)"-->
                </ckeditor>
              </div>

              <div class="form-group">
                <label for="loaics" class="control-label">Loại chính sách point thưởng</label>
                <select [(ngModel)]="selectedPolicy" (change)="selectPolicyHandle($event)" [ngModelOptions]="{standalone: true}" class="form-control">
                  <option *ngFor="let policy of policyList" value="{{policy._id}}">{{policy.pName}}</option>
            </select>
              </div>
              <!-- <div class="form-group">
                <label for="tinhtrang" class="control-label">Tình trạng </label>
                <input type="text" class="form-control" id="tinhtrang" placeholder="Hoạt động">
              </div> -->

              <div class="form-group">

                <div class="pull-left">
                  <button type="reset" routerLink="/admin/listnews" class="btn btn-info pull-right"><i class="fa fa-arrow-left" aria-hidden="true"></i> Quay lại</button>

                </div>
                <div class="pull-right">
                  <button type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Đăng tin</button>
                  <button type="reset" class="btn btn-default" (click)="clearAllFields()"><i class="fa fa-refresh" aria-hidden="true"></i> Xóa trống</button>
                </div>
              </div>

            </div>
          </form>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
</ng-container>

<div class="txtelegantshadow" *ngIf="user.role == 'empl_gift'">
    <h1 class="page-header" style="font:bold; text-align: center;font-size: 70px;">Bạn không có quyền hạn sử dụng chức năng này!</h1>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-success" [ngClass]="messageClass">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3><i class="fa fa-info-circle"></i> Thông báo</h3>
        </div>
        <div class="modal-body">
          <div class="row show-hide-message">
              <p>{{message}}</p>
          </div>
        </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pull-right" (onclick)="clearAllFields()" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="myForm" (submit)="updateNews()" *ngIf="!loading">
          <div class="form-group">
            <label for="title">Tiêu đề</label>
            <div [ngClass]="{'has-error': (myForm.controls.title.errors && myForm.controls.title.dirty), 'has-success': !myForm.controls.title.errors}">
              <input [disabled]="processing" type="text" name="title" class="form-control" formControlName="title" [(ngModel)]="news.title"
                 />
              <ul class="help-block">
                <li *ngIf="myForm.controls.title.errors?.required && myForm.controls.title.dirty">Trường này bắt buộc</li>
                <li *ngIf="(myForm.controls.title.errors?.minlength || myForm.controls.title.errors?.maxlength) && myForm.controls.title.dirty">Tiêu đề ít nhất có 8 ký tự , tối đa 40</li>
              </ul>
            </div>
          </div> -->